@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "IBM Plex Sans";
  src: url("./fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

#vis-wrapper {
  display: flex;
  font-family: "IBM Plex Sans";
  justify-content: space-between;
}

#kpi-label {
  font-size: 14px;
  font-weight: 400;
  color: #72777e;
  line-height: 20px;
}

#kpi-value {
  font-weight: 700;
  font-size: 18px;
  color: #1d1e20;
  line-height: 28px;
}

#kpi-change-wrapper {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-top: 2px;
}

.change-value-wrapper {
  font-size: 10px;
  line-height: 14px;
  display: flex;
  background: #eef8e8;
  border-radius: 4px;
  padding: 1px 2px;
}

.positive-background {
  background: #eef8e8;
}

.negative-background {
  background: #fbe7e5;
}

.change-value {
  margin-left: 3px;
}

.positive-text {
  color: #39800b;
}

.negative-text {
  color: #c7200a;
}

#change-label {
  font-size: 10px;
  margin-left: 6px;
}

#gauge-chart-wrapper {
  height: 70px;
  margin-left: 30px;
  position: relative;
}

#gauge-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #72777e;
}
